
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  
 background: #b5cff4;
      
  display: flex;
  justify-content: center;
  align-items: left;

}

.container{
    background-color: #161515;
    padding: 20px;
    border-radius: 15px;
    box-shadow:-8px -8px 15px rgba(39, 35, 35, 0.1), 5px 5px 15px rgba(0 ,0 ,0 , 0.2);
    border-color: rgb(235, 239, 239);
}


.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.text-center{
    text-align: center;
  }
  

  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  

.text{
    text-align: center;
    text-align: right;
    color: rgb(8, 0, 0);
}
.operator{
    background-color: rgb(79, 216, 223);
    color: black;
    
}
